  <nav role="navigation" class="navbar mailbox-topnav">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <h4 class="text-muted"><i class="fa fa-folder-open fa-fw"></i>&nbsp;&nbsp;Explorer</h4>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="mailbox-nav">
      <ul class="nav navbar-nav button-tooltips">
        <li class="checkall">
          <input type="checkbox" title="" data-placement="bottom" data-toggle="tooltip" id="selectall" data-original-title="Selecionar tudo">
        </li>
        <li class="message-actions">
          <div class="btn-group navbar-btn">
            <button title="" data-placement="bottom" data-toggle="tooltip" class="btn btn-white" type="button" data-original-title="Arquivar"><i class="fa fa-archive"></i>
            </button>
            <button title="" data-placement="bottom" data-toggle="tooltip" class="btn btn-white" type="button" data-original-title="Marcar como Importante"><i class="fa fa-exclamation-circle"></i>
            </button>
            <button title="" data-placement="bottom" data-toggle="tooltip" class="btn btn-white" type="button" data-original-title="Excluir"><i class="fa fa-trash-o"></i>
            </button>
          </div>
        </li>
        <li title="" data-original-title="Categorizar" data-placement="top" data-toggle="tooltip" class="dropdown message-label">
          <button data-toggle="dropdown" class="btn btn-white navbar-btn dropdown-toggle" type="button"><i class="fa fa-tag"></i>  <i class="fa fa-caret-down text-muted"></i>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-square text-green"></i> Compras</a>
            </li>
            <li><a href="#"><i class="fa fa-square text-orange"></i> Projetos</a>
            </li>
            <li><a href="#"><i class="fa fa-square text-purple"></i> Grupos</a>
            </li>
            <li><a href="#"><i class="fa fa-square text-blue"></i> Pessoal</a>
            </li>
            <li><a href="#"><i class="fa fa-square-o"></i> Nenhuma</a>
            </li>
          </ul>
        </li>
      </ul>
      <form role="search" class="navbar-form navbar-right visible-lg">
        <div class="form-group">
          <input type="text" placeholder="Pesquisar arquivos..." class="form-control">
        </div>
        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i>
        </button>
      </form>
    </div>
  </nav>

  <div id="mailbox">

    <ul class="nav nav-pills nav-stacked mailbox-sidenav">
      <li>
        <%= link_to '<span class="fa fa-folder fa-fw"></span> Nova Pasta'.html_safe, new_folder_path,
                                                :title => "Criar nova pasta", class: "btn btn-white" %>
      </li>
      <li class="nav-divider"></li>
      <li class="mailbox-menu-title text-muted text-small"> Pastas</li>
      <li class="active"><a href="#">Pasta Teste (15)</a>
      </li>
      <li><a href="#">Pasta 2</a>
      </li>
      <li><a href="#">Pasta 3</a>
      </li>
      <li><a href="#">Pasta 4</a>
      </li>
      <li><a href="#">Pasta 5</a>
      </li>
      <li class="nav-divider"></li>
      <li class="mailbox-menu-title text-muted text-small">Categoria</li>
      <li><a href="#"><i class="fa fa-plus"></i> Criar Nova Categoria</a>
      </li>
      <li><a href="#"><i class="fa fa-square text-green"></i> Compras</a>
      </li>
      <li><a href="#"><i class="fa fa-square text-orange"></i> Projetos</a>
      </li>
      <li><a href="#"><i class="fa fa-square text-purple"></i> Grupos</a>
      </li>
      <li><a href="#"><i class="fa fa-square text-blue"></i> Pessoal</a>
      </li>
    </ul>

    <div id="mailbox-wrapper">

      <div class="table-responsive mailbox-messages">
        <table class="table table-bordered table-striped table-hover">
          <tbody>
          <tr class="unread-message clickableRow">
            <td class="checkbox-col">
              <input type="checkbox" name="selectedId" class="selectedId">
            </td>
            <td class="from-col">Jane Smith</td>
            <td class="msg-col">
              <span class="label green">Orders</span> Order Status Update: Order #231
              <span class="text-muted">- Hi again! I wanted to let you know that the order...</span>
            </td>
            <td class="date-col"><i class="fa fa-paperclip"></i> 1/1/14</td>
          </tr>
          <tr class="unread-message clickableRow">
            <td class="checkbox-col">
              <input type="checkbox" name="selectedId" class="selectedId">
            </td>
            <td class="from-col">Roddy Auston</td>
            <td>
              <span class="label purple">Work</span> Thanks for the information!
              <span class="text-muted">- Thanks again for the info! If you need anything from...</span>
            </td>
            <td class="date-col">1/1/14</td>
          </tr>
          <tr class="unread-message clickableRow">
            <td class="checkbox-col">
              <input type="checkbox" name="selectedId" class="selectedId">
            </td>
            <td class="from-col"><i class="fa fa-exclamation-circle text-orange"></i> Stacy Gibson</td>
            <td>
              <span class="label orange">Projects</span> Order number for new client
              <span class="text-muted">- Hey, what was the purchase order number for the...</span>
            </td>
            <td class="date-col">1/1/14</td>
          </tr>
          <tr class="unread-message clickableRow">
            <td class="checkbox-col">
              <input type="checkbox" name="selectedId" class="selectedId">
            </td>
            <td class="from-col">Jeffery Cortez</td>
            <td>
              <span class="label blue">Personal</span> Check out this video.
              <span class="text-muted">- Check out this video I found the other day, it's...</span>
            </td>
            <td class="date-col"><i class="fa fa-paperclip"></i> 1/1/14</td>
          </tr>
          <tr class="clickableRow">
            <td class="checkbox-col">
              <input type="checkbox" name="selectedId" class="selectedId">
            </td>
            <td class="from-col">Jane Smith</td>
            <td>
              <span class="label green">Orders</span> Order Status Update: Order #219
              <span class="text-muted">- This order has been filled and is ready to ship...</span>
            </td>
            <td class="date-col"><i class="fa fa-paperclip"></i> 1/1/14</td>
          </tr>
          <tr class="clickableRow">
            <td class="checkbox-col">
              <input type="checkbox" name="selectedId" class="selectedId">
            </td>
            <td class="from-col">FlexCorp Marketing</td>
            <td>Monthly Newsletter from FlexCorp - This Month's Trends
              <span class="text-muted">- FlexCo has some great updates for you in this...</span>
            </td>
            <td class="date-col">1/1/14</td>
          </tr>
          <tr class="clickableRow">
            <td class="checkbox-col">
              <input type="checkbox" name="selectedId" class="selectedId">
            </td>
            <td class="from-col">Jeffery Cortez</td>
            <td>
              <span class="label blue">Personal</span> FWD: Best Cat Videos of 2013
              <span class="text-muted">- These are some of the best cat videos I have ever...</span>
            </td>
            <td class="date-col">1/1/14</td>
          </tr>
          <tr class="clickableRow">
            <td class="checkbox-col">
              <input type="checkbox" name="selectedId" class="selectedId">
            </td>
            <td class="from-col">Mom</td>
            <td>
              <span class="label blue">Personal</span> Is your phone on?
              <span class="text-muted">- I tried to call you this morning and your phone wasn't on. I know...</span>
            </td>
            <td class="date-col">1/1/14</td>
          </tr>
          <tr class="clickableRow">
            <td class="checkbox-col">
              <input type="checkbox" name="selectedId" class="selectedId">
            </td>
            <td class="from-col"><i class="fa fa-warning text-red"></i> System Warning</td>
            <td>Server #4 Crashed
              <span class="text-muted">- This is an automated message notifying you that there is a problem with...</span>
            </td>
            <td class="date-col">1/1/14</td>
          </tr>
          <tr class="clickableRow">
            <td class="checkbox-col">
              <input type="checkbox" name="selectedId" class="selectedId">
            </td>
            <td class="from-col">System Report</td>
            <td>Daily Report for 12/31/13
              <span class="text-muted">- Daily traffic and user breakdown for 12/31/13. To view the report, open...</span>
            </td>
            <td class="date-col"><i class="fa fa-paperclip"></i> 12/31/13</td>
          </tr>
          </tbody>
        </table>
      </div>

      <!--<ul class="list-inline pull-right">-->
        <!--<li><strong>1-10 of 1,392</strong>-->
        <!--</li>-->
        <!--<li>-->
          <!--<div class="btn-group">-->
            <!--<button class="btn btn-white" type="button"><i class="fa fa-chevron-left"></i>-->
            <!--</button>-->
            <!--<button class="btn btn-white" type="button"><i class="fa fa-chevron-right"></i>-->
            <!--</button>-->
          <!--</div>-->
        <!--</li>-->
      <!--</ul>-->
    </div>
  </div>