@media(max-width:767px) {
  .placeholder, .orgdiagram {
    width: 767px!important;
  }
  .nav > li > a:hover,
  .nav > li > a:focus {
    background-color: #073A79!important;
    border-color: #FFFFFF;
    color: #FFFFFF;
    text-decoration: wavy;
    i{
      color: #FFFFFF!important;
    }
  }
  .nav .open > a,
  .nav .open > a:hover,
  .nav .open > a:focus {
    border-color: #FFFFFF;
    i{
      color: #FFFFFF;
    }
  }
  #side-menu .welcome {
    color: #1f3346;
    font-style: italic;
    margin-bottom: 0;
    text-align: center;

  }
  #side-menu .name  {
    a{
      i{
        color: #FFFFFF ;
      }
    }
    color: #1f3346;
    font-family: "Arial","Helvetica",sans-serif;
    margin: 0 0 10px;
    text-align: center;
  }
  #side-menu .name .last-name {
    color: #1f3346;
  }
  .navbar-toggle {
    background-color: #f5f5f5;
    border: 1px solid transparent;
    border-radius: 4px;
    float: right;
    margin-bottom: 8px;
    margin-right: 15px;
    margin-top: 8px;
    padding: 9px 10px;
    position: relative;
  }
  .navbar-static-top, .navbar-fixed-top, .navbar-fixed-bottom {
    border-radius: 0;
    border-width: 0 0 0px;
    background-image: linear-gradient(to right, #f5f5f5 20%, #073A79 100%);
    i{
      color: #073A79;
    }
  }
  .modal-dialog {
    margin: 16%;
    position: relative;
    width: auto;
  }
  .panel-body{
    padding: 0px!important;
    height: 100% !important;
    .pagination{
      font-size: 10px;
    }
    .row{
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
  .pagination-header{
    margin-top: 10px !important;
  }
  #manager_view{
    #div-expand-folder {
      background-color: #ffffff;
      border-color: #ded4d4;
      border-radius: 5px;
      border-style: solid;
      border-width: 1px;
      margin: 0 0 -1px;
      a{
        i{
          font-size: 16px;
          padding-top: 5px;
          margin-right: 5px;
          margin-left: 5px;
        }
        text-decoration: none;
      }
    }
    .nav{
      .content{
        font-size: 10px !important;
      }
    }
    .active i.fa-folder{display:inline-block; color: #DFBA41; padding-bottom: 2px}
    .active i.fa-folder-open{display:none;color: #DFBA41; padding-bottom: 2px}
    .active i.fa-minus-circle{display:none;padding-top: 7px!important;}
    .active i.fa-plus-circle{display:inline-block;padding-top: 7px!important;}
    .inactive i.fa-folder-open{display:inline-block;color: #DFBA41; padding-bottom: 2px}
    .inactive i.fa-folder{display:none;color: #DFBA41; padding-bottom: 2px}
    .inactive i.fa-plus-circle{display:none;padding-top: 7px!important;}
    .inactive i.fa-minus-circle{display:inline-block;padding-top: 7px!important;}
    #manager-folder-name{
      cursor: pointer;
      overflow: hidden;
      position: relative;
      text-overflow: ellipsis;
      top: 5px;
      white-space: nowrap;
      width: 400px;
      font-size: 14px;
      color: #6e6e6e;
      font-family: "Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace;
    }
    .dataTables_wrapper{
      font-size: 10px;
      td{
        vertical-align: middle ;
      }
      select.input-sm, .input-group-sm > select.form-control, .input-group-sm > select.input-group-addon, .input-group-sm > .input-group-btn > select.btn {
        height: 24px!important;
        line-height: 22px!important;
        font-size: 10px;
      }
      .input-sm, .input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn {
        border-radius: 3px;
        font-size: 10px;
        height: 24px;
        line-height: 1.5;
        padding: 5px 10px;
      }
      span, i{
        text-align: center;
        font-size: 16px;
        padding-left: 20px;
      }
    }
  }
  .sidebar-collapse {
    max-height: 200px;
    overflow-y: scroll;
  }
  #register{
    margin-top: -50px;
    padding-top: -100px;
  }
  .orgdiagram{
    height: 480px!important;
    width: 100%!important;
    overflow-x: visible;
    overflow-y: visible;
    //    overflow: hidden!important;
    cursor: pointer !important;
  }
  #login{
    position: relative;
    padding-top: 0px;
    top: -100px;
    width: 100%;
    height: 100%;
    margin: 0px !important;
  }
  #wrapper-logged-off{
    width: 100% !important;
    height: 100%!important;
  }
  #portal-brand{
    font-size: 16px;
    font-weight: bold;
  }
  .w2ui-col-on-off, .w2ui-grid-searches{
    table{
      tbody{
        tr{
          td{
            color: #000000;
            label{
              color: #000000;
            }
          }
        }
      }
    }
  }
  .w2ui-col-expand, .w2ui-head, .w2ui-button :hover {
    cursor: pointer !important;
  }
  .w2ui-select-field{
    cursor: pointer !important;
  }
}
